apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
    name: totem-api
    namespace: totem
spec:
    scaleTargetRef:
        kind: Deployment
        name: totem-api
        apiVersion: apps/v1
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 30