apiVersion: v1
kind: Service
metadata:
  labels:
    run: totem-postgres
  name: totem-postgres
  namespace: totem
spec:
  type: NodePort
  ports:
    - port: 5432
      protocol: TCP
      targetPort: 5432
      nodePort: 32438
  selector:
    app: totem-postgres