apiVersion: v1
kind: ConfigMap
metadata:
  name: totem-configmap
  namespace: totem
data:
  POSTGRES_USER: totem
  POSTGRES_DB: totem
  PGDATA: /application/postgres
  POSTGRES_HOST_AUTH_METHOD: trust
  DATABASE_URL: "postgresql://totem:totem@totem-postgres:5432/totem"
  PORT: "3000"
